.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
.div {
    background-color: #ffffff;
    width: 1440px;
    height: 2196px;
    position: relative;
  }
  
.bitescape {
    position: absolute;
    top: 51px;
    left: 73px;
    font-family: "Inter-ExtraBold", Helvetica;
    font-weight: 800;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.home {
    position: absolute;
    top: 53px;
    left: 490px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0e0e13;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.recipes {
    position: absolute;
    top: 53px;
    left: 599px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0e0e13;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.contact {
    position: absolute;
    top: 53px;
    left: 731px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0e0e13;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.aboutus {
    position: absolute;
    top: 53px;
    left: 864px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #0e0e13;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .overlap {
    position: absolute;
    width: 1292px;
    height: 672px;
    top: 163px;
    left: 74px;
  }
  
.saladimage {
    position: absolute;
    border-radius: 0px 46px 46px 0px;
    width: 646px;
    height: 672px;
    top: 0;
    left: 646px;
    object-fit: cover;
  }
  
.bluebox {
    position: absolute;
    width: 646px;
    height: 672px;
    top: 0;
    left: 0;
    background-color: #e4f8ff;
    border-radius: 0px 46px 46px 0px;
    transform: rotate(180deg);
  }
  
.delicioushealthy {
    position: absolute;
    top: 213px;
    left: 63px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.blackbox {
    position: absolute;
    width: 154px;
    height: 49px;
    top: 479px;
    left: 63px;
    background-color: #000000;
    border-radius: 14.29px;
  }
  
.viewrecipes {
    position: absolute;
    top: 495px;
    left: 98px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
.description {
    position: absolute;
    width: 462px;
    top: 365px;
    left: 63px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #636363;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.whitebox {
    position: absolute;
    width: 133px;
    height: 34px;
    top: 131px;
    left: 63px;
    background-color: #ffffff;
    border-radius: 50px;
  }
  
.hotrecipes {
    position: absolute;
    top: 138px;
    left: 76px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 14px;
    letter-spacing: 0;
    line-height: normal;
  }

  .categories {
    position: absolute;
    top: 903px;
    left: 73px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 55px;
    letter-spacing: 0;
    line-height: normal;
  }
  
.overlap-group {
    position: absolute;
    width: 222px;
    height: 43px;
    top: 916px;
    left: 1145px;
    background-color: #e4f8ff;
    border-radius: 15px;
  }
  
.viewall {
    position: absolute;
    top: 13px;
    left: 35px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }

  .overlap-2 {
    position: absolute;
    width: 180px;
    height: 181px;
    top: 1040px;
    left: 75px;
    border-radius: 34.62px;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(213, 216, 206) 100%
    );
  }
  
.breakfasts {
    position: absolute;
    top: 143px;
    left: 53px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.emojis {
    position: absolute;
    top: 22px;
    left: 30px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 85px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.overlap-3 {
    position: absolute;
    width: 180px;
    height: 181px;
    top: 1040px;
    left: 297px;
    border-radius: 34.62px;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(209, 222, 203) 100%
    );
  }
  
.vegan {
    position: absolute;
    top: 143px;
    left: 65px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.overlap-4 {
    position: absolute;
    width: 180px;
    height: 181px;
    top: 1040px;
    left: 519px;
    border-radius: 34.62px;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(229, 203, 198) 100%
    );
  }
  
.meat {
    position: absolute;
    top: 143px;
    left: 70px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.overlap-5 {
    position: absolute;
    width: 180px;
    height: 181px;
    top: 1040px;
    left: 741px;
    border-radius: 34.62px;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(236, 221, 195) 100%
    );
  }
  
.dessert {
    position: absolute;
    top: 143px;
    left: 59px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.overlap-6 {
    position: absolute;
    width: 180px;
    height: 181px;
    top: 1040px;
    left: 963px;
    border-radius: 34.62px;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(231, 226, 217) 100%
    );
  }
  
.lunch {
    position: absolute;
    top: 143px;
    left: 66px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
    
.overlap-7 {
    position: absolute;
    width: 180px;
    height: 181px;
    top: 1040px;
    left: 1185px;
    border-radius: 34.62px;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 255) 0%,
      rgb(230, 213, 200) 100%
    );
  }
  
.chocolate {
    position: absolute;
    top: 143px;
    left: 50px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }